body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
    h1, h2 {
    text-align: center;
    background-color: darkcyan;
    width: 60%;
    margin: 0 auto;  /* Centers the block */
    padding: 10px;
    color: white;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

td, th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

img {

    
    border-radius: 50%;
    border: 3px solid #333333;
}

table tr td a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

table tr:hover {
    background-color: #f1f1f1;
}
